<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<meta charset="UTF-8">
		<title>bluestone - zadanie rekrutacyjne</title>
		
		<!-- Angular -->
		<script type= "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>	

		<!-- JQuery i Popper.js -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
				
		<script src="products.js"></script>		
		
		
		
	</head>
	
	<body ng-app="productsModule" ng-controller="productsCtrl">
		
		<div class="container" >
			<div class="row">
				<div class="col-sm-8 center-block">
					<h1 class="text-center">List of all Products</h1>
					<br>
					
					<div class="table-reponsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th ng-repeat="product in ['Name']"> 
										{{product}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="product in produkty">
									<td> <a ng-click="showDetails(product)" style="cursor:pointer">{{product.name}} </a> </td>

								</tr>
							</tbody>
						</table>
					
				</div>
			
				
				<div class="modal fade" id="viewModal" tabindex="-1" role"dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class = "modal-content" style="padding: 0px 20px"> 
							
							<div class="modal-header">
								<h3> Product Detail Screen</h3>
							</div>
							
							<div class="modal-center" style="padding: 10px 0px">
							<b>Name:</b> {{namemodel.name}}
							<input type="text" class="form-control" ng-if="edit" ng-model="namemodel.name">
							</br> 
							
							<b>Number:</b> {{namemodel.number}}
							<input type="text" class="form-control" ng-if="edit" ng-model="namemodel.number">						

							</br>
							
							<b>Decription:</b> {{namemodel.description}}
							<input type="text" class="form-control" ng-if="edit" ng-model="namemodel.description">
							</br>
							</div>
							
							<div ng-repeat="imageURL in namemodel.images"> <b>Images:</b> <a style="cursor:pointer; padding: 10px 0px" href="{{imageURL.url}}"> {{imageURL.url}} </a>  </br> </div>
								<div class="modal-footer" >
									<input type="button" class="btn btn-outline-primary" ng-hide="hideval"  ng-click="isShowHide('hide')"  value="Update">
									
									
									
								</div>	
								<button type="button" class="btn btn-outline-success"  ng-if="edit">Save</button>
								<button type="button" class="btn btn-outline-danger"  ng-if="edit"> Cancel </button>
						</div>	
										
					</div>
				</div>
								
				
			</div>
		</div>
	
			
			
	</body>	
</html>